<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<form class="layui-form" action="" lay-filter="example">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>售后服务详情</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">基本信息</blockquote>
    <div class="layui-form-item">
        <label class="layui-form-label">主题</label>
        <div class="layui-input-block">
            <input type="text" name="theme" th:value="${after_sale_po.theme}" disabled="disabled" lay-verify="title"  class="layui-input">
        </div>
    </div>
    <blockquote class="layui-elem-quote">售后服务信息</blockquote>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-inline">
                <input type="text" name="theme"   th:value="${after_sale_po.clien.uname}" disabled="disabled" lay-verify="title"  class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <input type="hidden" th:value="${after_sale_po.contractid}" id="contractid">
            <label class="layui-form-label">合同编号</label>
            <div class="layui-input-inline">
                <input type="text" name="theme"   th:value="${after_sale_po.contract.contract_number}" disabled="disabled" lay-verify="title"  class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">合同主要信息</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" id="contract_context" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-inline">
                <input type="text" name="contact" th:value="${after_sale_po.contact}" disabled="disabled"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <input type="tel" name="phone" th:value="${after_sale_po.phone}" disabled="disabled" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="email" th:value="${after_sale_po.contract.e_mail_qq}" disabled="disabled" lay-verify="email" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">服务类型</label>
            <div class="layui-input-inline">
                <select name="serve_type" disabled="disabled">
                    <option  th:value="${after_sale_po.serve_type}" th:text="${after_sale_po.data.type_name}"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline">
                <input type="text" name="state_time" id="date1" th:value="${after_sale_po.state_time}" disabled="disabled" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input type="text" name="end_time" id="date2" th:value="${after_sale_po.end_time}" disabled="disabled" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">服务内容</label>
        <div class="layui-input-block">
            <textarea name="serve_content" th:text="${after_sale_po.serve_content}" disabled="disabled" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">客户反馈</label>
        <div class="layui-input-block">
            <textarea name="contarc_tfeedback" th:text="${after_sale_po.contarc_tfeedback}" disabled="disabled" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">服务人员</label>
            <div class="layui-input-inline">
                <input  name="serve_per" th:value="${after_sale_po.serve_per}" disabled="disabled" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">评分</label>
            <div class="layui-input-block">
                <input  type="radio" name="serve_grade" th:value="${after_sale_po.serve_grade}" disabled="disabled" th:text="${after_sale_po.serve_grade}" th:title="${after_sale_po.serve_grade}" checked="">分
            </div>
        </div>
    </div>
    <div>
        <input type="hidden" th:value="${after_sale_po.accessory}" id="download">
        <a href="#" onclick="downloadS()" type="button" class="layui-btn" id="test1">下载附件</a>
    </div>

    <blockquote class="layui-elem-quote">售后服务信息</blockquote>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文本域</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>

</form>
<script type="text/javascript">
    var downloadS=function(){
        var filepath= window.document.getElementById("download").value;
        window.location.href="/download.do?filePath="+filepath;
    }
</script>

<script src="/static/js/jquery-3.3.1.js" charset="utf-8"></script>

<script src="/static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        laydate.render({
            elem: '#entry_time' //或 elem: document.getElementById('test')、elem: lay('#test') 等
        });

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        var contractid=window.document.getElementById("contractid").value;
        $.ajax({
            type:"post",
            url:"/crm/after-sale/queryContractById.do",
            data:{
                'contractid':contractid
            },
            success: function (data) {
                console.log(data);
                console.log(data.contract_name);
                var contract_context="";
                contract_context+="【合同全称】 "+data.contract_name+"  ";
                contract_context+="【合同所属部门】 "+data.con_department+"  ";
                contract_context+="【关联人员】 "+data.gl_person+"  ";
                contract_context+="【签约日期】 "+data.contract_date+"  ";
                contract_context+="【生效日期】 "+data.effective_date+"  ";
                contract_context+="【服务期至】 "+data.period_of_service+"  ";
                window.document.getElementById("contract_context").innerText=contract_context;
            }
        });


    });
</script>

</body>
</html>